* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #e2c5d5, #d25696);
  color: #690530;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #f4e8ef;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #ba2864;
  margin-bottom: 10px;
}

nav a {
  color: #f66593;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: auto;
  font-size: 14px;
  color: #861051;
}

a {
  color: #41001e;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.form-container {
  border: 2px dotted #000000;
  border-radius: 10px;
  background: linear-gradient(to right, #f5a7c8, #e9d0e0);
  padding: 30px 25px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s, box-shadow 0.3s;
}

.form-container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.form-title {
  color: #d42180;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #a5245e;
  border-radius: 6px;
  background-color: #ffffff;
  color: #333;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #d1025c;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #bd025c;
}

button:active {
  background-color: #9b0151;
}

.form-container h2,
.form-container p {
  color: #b33b79;
}